//Genya PART 1
.header {
  background-image: url("../../dist/images/header_img.png");
  background-position: center center;
  background-size: cover;
  width: 100%;
  position: relative;
}
.header_menu_height_for_media {
  min-height: 100px;
}
.header_menu {
  padding-top: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header_logo_link {
  display: flex;
  text-decoration: none;
}
.header_logo_img {
  width: 43px;
  height: 41px;
  padding-top: 10px;
}
.header_logo_text {
  padding-left: 17px;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  text-transform: uppercase;
  color: #8d81ac;
}

// .header_nav{
// }

.header_nav_menu {
  display: flex;
}
// .header_nav_item{
// }

.header_nav_link {
  text-decoration: none;
  margin-right: 47px;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  color: #8d81ac;
}

.header_nav_link_buy {
  background-color: #8d81ac;
  padding: 11px 30px;
  border-radius: 40px;
  color: #fff;
  margin-right: 5px;
}
.header_text_center {
  padding-top: 100px;
}
.header_text_title {
  font-weight: bold;
  font-size: 82px;
  line-height: 82px;
  text-align: center;
  color: #ffffff;
}
.header_text_subtitle {
  padding-top: 19px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #8d81ac;
}
.header_text_version {
  padding-top: 19px;
  padding-bottom: 459px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #848e97;
}
.link_download_position {
  display: flex;
  justify-content: center;
}
.link_download_for_free {
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 22px;
  color: #ffffff;
  background: #8d81ac;
  border-radius: 40px;
  padding: 23px 71px;
  position: absolute;
  bottom: -27px;
}
//  Genya part 1
