.header {
  background-image: url("../../dist/images/header_img.png");
  background-position: center center;
  background-size: cover;
  width: 100%;
  position: relative;
}
.header_menu_height_for_media {
  min-height: 100px;
}
.burger-menu-button {
  @media screen and (min-width: 481px) {
    display: none;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    position: absolute;
    top: 37px;
    right: 25px;
    z-index: 30;
    width: 30px;
    height: 30px;
  }
}
.burger-menu-button:hover .burger-menu-lines {
  filter: brightness(0.7);
}
.burger-menu-lines,
.burger-menu-lines::after,
.burger-menu-lines::before {
  position: absolute;
  width: 25px;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
}
.burger-menu-lines {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  &::before {
    content: "";
    top: -8px;
    right: 0;
    width: 15px;
  }
  &::after {
    content: "";
    top: 8px;
  }
}
.burger-menu-lines-active {
  @media screen and (max-width: 480px) {
    background-color: transparent;

    &::before {
      top: 0;
      width: 25px;
      transform: rotate(45deg);
    }
    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}
.modal-container {
  @media screen and (min-width: 320px) and (max-width: 480px) {
    width: 100vh;
    height: 100vh;
    position: absolute;
  }
}
.header_menu {
  padding-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 481px) and (max-width: 992px) {
    min-height: 80px;
    background: #27262a;
    position: relative;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    background: #27262a;
    position: relative;
    min-height: 85px;
  }
}
.header_logo_link {
  display: flex;
  text-decoration: none;
  margin-right: 15%;
  @media screen and (min-width: 481px) and (max-width: 992px) {
    position: absolute;
    top: 15px;
    left: 20px;
  }
}
.header_logo_link:hover .header_logo_text{
  color: #ffffff;
}
.header_logo_img {
  width: 43px;
  height: 41px;
  padding-top: 10px;
  @media screen and (min-width: 320px) and (max-width: 480px) {
    position: absolute;
    top: 22px;
    left: 16px;
  }
}
.white-logo-image {
  display: none;
}
.header_logo_link:hover .pink-logo-image {
  display: none;
}
.header_logo_link:hover .white-logo-image {
  display: block;
}
.header_logo_text {
  padding-left: 17px;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  text-transform: uppercase;
  color: #8d81ac;
  @media screen and (min-width: 320px) and (max-width: 480px) {
    display: none;
  }
}
.header_nav {
  @media screen and (max-width: 480px) {
    display: none;
  }
}
.header_nav-open {
  @media screen and (max-width: 480px) {
    display: block;
  }
}
.header_nav_menu {
  display: flex;
  @media screen and (min-width: 481px) and (max-width: 992px) {
    padding-top: 50px;
    display: flex;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    max-width: 80%;
    min-height: 350px;
    top: 85%;
    left: 5%;
    right: 5%;
  }
}
/* посмотреть в макете -  item похоже становится фиолетовым когда на нем фокус или когда active, не только ховер */
.header_nav_item {
  position: relative;
  :hover {
    color: #ffffff;
    transition: 0.3s;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    margin-top: 53px;
    margin-left: 10px;
    :after {
      content: "";
      position: absolute;
      top: 50px;
      width: -moz-available;
      height: 3px;
      background: #3b3b3b;
      left: -49px;
    }
    :hover {
      color: #8d81ac;
      transition: 0.3s;
    }
    :hover:before {
      content: "";
      position: absolute;
      left: -50px;
      width: 8px;
      height: 53px;
      background: #8d81ac;
      top: -13px;
      transition: 0.5s;
    }
  }
}
.header_nav_item:after {
  @media screen and (min-width: 320px) and (max-width: 480px) {
    content: "";
    position: absolute;
    top: 50px;
    width: -moz-available;
    height: 3px;
    background: #3b3b3b;
    left: -49px;
  }
}
.header_nav_item:nth-child(1) {
  @media screen and (min-width: 320px) and (max-width: 480px) {
    margin-top: 35px;
  }
}
.header_nav_link {
  text-decoration: none;
  margin-right: 35px;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  color: #8d81ac;
  @media screen and (min-width: 481px) and (max-width: 992px) {
    margin-right: 30px;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    font-size: 26px;
    line-height: 26px;
    color: #ffffff;
    font-weight: normal;
  }
}
.header_nav_link_buy:hover {
  color: #8d81ac;
  background-color: #ffffff;
  transition: 0.3s;
}
.header_nav_link_buy {
  background-color: #8d81ac;
  padding: 11px 30px;
  border-radius: 40px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  @media screen and (min-width: 481px) and (max-width: 992px) {
    position: absolute;
    top: 24px;
    right: 20px;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    display: block;
    position: absolute;
    top: 32px;
    font-size: 15px;
    line-height: 15px;
  }
}
.header_text_center {
  padding-top: 100px;
  @media screen and (min-width: 481px) and (max-width: 992px) {
    padding-top: 55px;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    padding-top: 5px;
  }
}
.header_text_title {
  font-weight: bold;
  font-size: 82px;
  line-height: 82px;
  text-align: center;
  color: #ffffff;
  @media screen and (min-width: 481px) and (max-width: 992px) {
    font-size: 72px;
    line-height: 72px;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    font-size: 48px;
    line-height: 48px;
  }
}
.header_text_subtitle {
  padding-top: 19px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #8d81ac;
  @media screen and (min-width: 481px) and (max-width: 992px) {
    font-size: 24px;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    font-size: 18px;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.header_text_version {
  padding-top: 19px;
  padding-bottom: 459px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #848e97;
  @media screen and (min-width: 481px) and (max-width: 992px) {
    font-size: 14px;
    line-height: 14px;
  }
}
.link_download_position {
  display: flex;
  justify-content: center;
}
.link_download_for_free {
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 22px;
  color: #ffffff;
  background: #8d81ac;
  border-radius: 40px;
  padding: 23px 71px;
  position: absolute;
  bottom: -27px;
  @media screen and (min-width: 320px) and (max-width: 480px) {
    font-size: 18px;
    line-height: 20px;
    padding: 15px 29px;
  }
}
.link_download_for_free:hover {
  color: #8d81ac;
  background-color: #ffffff;
  transition: 0.3s;
}
