body,
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-family;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;

  // @media (max-width: 767px) {
  //   max-width: none;
  //   min-width: 320px;
  // }
}

.section__title {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
