body,
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-family;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;

  // padding-left: 10px;
  // padding-right: 10px;

  // min-width: 320px;
  // padding: 0 10px;
  // @media (min-width: 993px) and (max-width: 1200px) {
  //   width: 95%;
  //   padding: 0 10px;
  // }
  // @media (max-width: 1200px) {
  //   max-width: 970px;
  // }
  // @media (max-width: 992px) {
  //   max-width: 740px;
  // }
  // // @media (max-width: 480px) {
  // //   max-width: 300px;
  // //   min-width: 300px;
  // // }
  // @media (max-width: 767px) {
  //   max-width: none;
  //   min-width: 320px;
  // }
  @media (max-width: 767px) {
    max-width: none;
    min-width: 320px;
  }
}

.section__title {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
