%list-reset {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

%title-size_desktop {
  font-size: 48px;
  line-height: 50px;
}

%title-size_tablet {
  font-size: 42px;
  line-height: 44px;
}

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}
