%list-reset {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

%title-size_desktop {
  font-size: 48px;
  line-height: 50px;
}

%title-size-title_tablet {
  font-size: 42px;
  line-height: 44px;
}
