.subscription {
  background-image: url("../../dist/images/subscription-bg.png");
  background-position: center center;
  background-size: cover;
  width: 100%;
  padding-top: 83px;
  padding-bottom: 97px;
  @media screen and (min-width: 671px) and (max-width: 1140px) {
    padding-top: 78px;
    padding-bottom: 94px;
  }
  @media screen and (max-width: 670px) {
    padding-top: 0px;
    padding-bottom: 12px;
  }
}

.container__subscription {
  max-width: 1115px;
}

.section__title-subscription {
  margin: 0;
  @extend %title-size_desktop;

  padding-bottom: 61px;
  @media screen and (max-width: $desktop-width) {
    font-size: calc(28px + 20 * ((100vw - 320px) / (1200 - 320)));
  }
  @media screen and (min-width: 671px) and (max-width: 1140px) {
    padding-bottom: 39px;
  }
  @media screen and (max-width: 670px) {
    padding-bottom: 32px;
    line-height: 42px;
  }
}

.subscription__list {
  @extend %list-reset;
  display: grid;
  justify-content: space-around;
  //   grid-template-columns: 24% 24% 28% 24%;
  grid-template-columns: 257px 257px 299px 257px;
  grid-template-rows: 560px;
  column-gap: 15px;

  @media screen and (min-width: 671px) and (max-width: 1140px) {
    grid-template-columns: repeat(2, 299px);
    grid-template-rows: 457px 560px;
    justify-content: center;
    row-gap: 30px;
    column-gap: 25px;
  }
  @media screen and (max-width: 670px) {
    grid-template-columns: 299px;
    grid-template-rows: 457px 457px 560px 457px;
    // justify-content: center;
    row-gap: 18px;
  }
}

.subscription__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $subscription;
  &:nth-child(3) {
    background-color: $subscription-big;
  }
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(4) {
    align-self: center;
  }
  @media screen and (min-width: 671px) and (max-width: 1140px) {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4) {
      width: 257px;
    }
    &:nth-child(1) {
      justify-self: end;
    }
  }
  @media screen and (max-width: 670px) {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4) {
      width: 257px;
      justify-self: center;
      align-self: unset;
    }
  }
}

.subscription__title {
  @extend %text-style;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $subscription-title;
  padding: 36px 0;
}
.subscription__title-bigger {
  background: $subscription-title-big;
  padding: 43px 0;
}

.subscription__price {
  @extend %text-style;
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 20px;
}
.subscription__price-bigger {
  font-size: 82px;
  line-height: 90px;
  padding-top: 14px;
  padding-bottom: 16px;
}

.price__span {
  font-weight: bolder;
}

.subscription__period {
  @extend %text-style;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 30px;

  &::after {
    content: "";
    display: block;
    margin: 43px auto 0;
    height: 5px;
    width: 60px;
    background: $color;
    border: none;
  }
}
.subscription__period-bigger {
  padding-bottom: 40px;
  &::after {
    margin-top: 51px;
  }
}

.subscription__service {
  @extend %text-style;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.subscription__button {
  @extend %text-style;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  color: #ffffff;
  font: inherit;
  padding: 13px 0;
  width: 163px;
  margin-top: 36px;
  margin-bottom: 36px;

  border: none;
  border-radius: 30px;
  outline: none;
  background-color: $subscription-btn;
  cursor: pointer;
  &:hover {
    background-color: $subscription-btn-hover;
    transition: 0.2s ease-in-out;
  }
  &:not(hover) {
    transition: 0.2s ease-in-out;
  }
}
.subscription__button-first {
  margin-top: 54px;
}
.subscription__button-bigger {
  margin-top: 83px;
  width: 190px;
  font-size: 16px;
  line-height: 18px;
  padding: 18.5px 0;
}
