.container_background_talking_about {
  background-image: url("../../dist/images/people_talking_img.png");
  background-position: center center;
  background-size: cover;
  width: 100%;
  position: relative;
}
.talking_about_title {
  margin-top: 0;
  padding-top: 108px;
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  @media screen and (min-width: 481px) and (max-width: 992px) {
    padding-top: 80px;
    font-size: 42px;
    line-height: 44px;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    padding-top: 55px;
    font-size: 36px;
    line-height: 48px;
  }
}
.container_block_talking_about {
  max-width: 90%;
  margin: 0 auto;
  @media screen and (min-width: 481px) and (max-width: 992px) {
    max-width: 90%;
  }
}
.main_block_talking_about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.talking_about_blocks {
  display: flex;
  flex-flow: column;
  max-width: 25%;
  margin-top: 80px;
  align-items: center;
  margin-left: 70px;
  @media screen and (min-width: 481px) and (max-width: 992px) {
    max-width: 40%;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    max-width: 85%;
    margin-top: 50px;
  }
}
.talking_about_blocks:nth-child(1) {
  margin-left: 0;
}
.talking_about_blocks:nth-child(2) {
  @media screen and (min-width: 320px) and (max-width: 480px) {
    margin-left: 0;
  }
}
.talking_about_blocks:nth-child(3) {
  margin-top: 65px;
  @media screen and (min-width: 481px) and (max-width: 992px) {
    margin-left: 0;
    margin-top: 40px;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    margin-left: 0;
    margin-top: 30px;
  }
}
.talking_about_blocks:nth-child(4) {
  @media screen and (min-width: 993px) {
    margin-left: 0;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    margin-left: 0;
  }
}
.talking_about_blocks:nth-child(5) {
  @media screen and (min-width: 481px) and (max-width: 992px) {
    margin-left: 0;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    margin-left: 0;
  }
}
.talking_about_blocks:nth-child(6) {
  @media screen and (min-width: 320px) and (max-width: 480px) {
    margin-left: 0;
  }
}
.talking_about_text {
  margin-top: 0;
  padding-top: 33px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  @media screen and (min-width: 481px) and (max-width: 992px) {
    padding-top: 29px;
    margin-top: 0;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    padding-top: 27px;
    margin-top: 0;
  }
}
.talking_about_text:nth-child(1) {
  padding-top: 20px;
}
.talking_about_text:nth-child(3) {
  padding-top: 18px;
}
.talking_about_text_bottom {
  font-size: 14px;
  line-height: 21px;
  color: #a291a5;
  max-width: 55%;
  position: relative;
  padding-top: 110px;
  padding-bottom: 18px;
  margin: 0 auto;
  text-align: center;
  @media screen and (min-width: 481px) and (max-width: 992px) {
    max-width: 90%;
    text-align: center;
    padding-top: 67px;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    max-width: 80%;
    text-align: center;
    padding-top: 37px;
  }
}
.talking_about_bottom_line {
  padding-bottom: 29px;
  width: 50%;
  height: 2px;
  color: #645766;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
  @media screen and (min-width: 481px) and (max-width: 992px) {
    width: 80%;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    width: 80%;
    margin-bottom: -15px;
  }
}
